.brand__wrap{
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 100%;  
    height: 253px;
    border-radius: 25px;
    position: relative;
    top: 364px;
    right: 0;
    background: linear-gradient(0deg, rgba(44, 53, 61, 0.2), rgba(44, 53, 61, 0.2)),linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
}
.brand__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFFCC;
    display: flex;
    justify-content: center;
    padding-top: 55px;
}
.brand__pics{
    display: flex;
    gap: 108px;
    padding: 0 82px;
    max-width: 1059px;
    width: 100%;
    height: 51px;
}
.brand__pics img{
    width: 100%;
    height: 100%;
}